/* Importing font Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


/* Mobile Responsive */

body{
    background-image: url('./Images/Reference\ Background.png');
    font-family: 'Comfortaa' , cursive;
}

.div{
    background-color: white;
    margin: 500px 200px;
    text-align: center;
    border-radius: 15px;
    padding: 50px
}

a {
    color: black;
}

button{
    background-color: red;
    border: 3px solid lightseagreen;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

button:hover{
    transform: scale(1.1);
}

.copyright{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
    padding: 5px;
}


/* Tablet Responsive */

@media only screen and (min-width: 768px) {
    
    .div{
        background-color: white;
        margin: 350px 200px;
        text-align: center;
        border-radius: 15px;
        padding: 50px
    }
    
    a {
        color: black;
    }
    
    button{
        background-color: red;
        border: 3px solid lightseagreen;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
    
    button:hover{
        transform: scale(1.1);
    }
    
    .copyright{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: black;
        background-color: white;
        padding: 5px;
    }
} 


/* PC Responsive */

@media only screen and (min-width: 1000px) {
    body{
        background-image: url('./Images/Reference\ Background.png');
        font-family: 'Comfortaa' , cursive;
    }
    
    .div{
        background-color: white;
        margin: 100px 300px;
        text-align: center;
        border-radius: 15px;
        padding: 60px
    }
    
    a {
        color: black;
    }
    
    button{
        background-color: red;
        border: 3px solid lightseagreen;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
    
    button:hover{
        transform: scale(1.1);
    }
    
    .copyright{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: black;
        background-color: white;
        padding: 5px;
    }
}